alembic==1.0.11
aniso8601==7.0.0
Babel==2.7.0
backcall==0.1.0
bcrypt==3.1.7
blinker==1.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
decorator==4.4.0
Flask==1.1.1
Flask-Admin==1.5.3
Flask-Cors==3.0.8
Flask-JWT-Extended==3.21.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-Principal==0.4.0
flask-redis==0.4.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
idna==2.8
ipython==7.7.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==2.20.1
marshmallow-sqlalchemy==0.17.0
parso==0.5.1
passlib==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
PyJWT==1.7.1
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.2
requests==2.22.0
simplejson==3.16.0
six==1.12.0
speaklater==1.3
SQLAlchemy==1.3.6
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.15.5
WTForms==2.2.1
flask-sslify
psycopg2
flask_bcrypt
gunicorn
